@import "common/header";

body {
  font-family: arial;
}

.ad-img-link {
  width: 32px;
  height: 32px;
}

.ad-param-text {
  width: 280px;
  overflow: hidden;
  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
