%h1 Target Sites

%table
  %thead
    %tr
      %th
        name
      %th
        domain
      %th
        create date
    %tbody
      - @target_sites.each do |target_site|
        %tr
          %td
            = link_to target_site.name, url_for(action: :show, id: target_site.id)
          %td
            = link_to target_site.domain, "https://#{target_site.domain}", target: "_blank"
          %td #{target_site.created_at.strftime("%Y-%m-%d %H:%M:%S")}
