#site_nav {
  ul {
    margin: auto;
    list-style: none;
  }
}

nav#site_nav {
  li {
    display: inline;
    padding-right: 16px;
  }
}

.flash {
  padding: 2px;
  display: none;

  &-successful {
    background-color: #4bacdc;
    color: #fff;
  }
}
